{% extends 'Accounts/Base.html' %}
{% load crispy_forms_tags %}
{% load mobile %}
{% block title %}
    <title>Laptops</title>
{% endblock %}

{% block content %}

    <h1 style="text-align:center">Laptops</h1>
    <hr>
<br>
<br>
      <div class="row">
  <div class="col">
    <div class="card card-body">
      <form method="get">
        <h1>search</h1>
        {{laptopfilter.form}}
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<br>
<br>
    {% for r in records %}
    <div class="card mb-3 container" style="max-width: 1200px;">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="{{r.image.url}}" width="{{350}}" height="{{200}}" alt="...">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h4 class="card-title">{{r.brand_name}} {{r.name}}</h4>
              <h5 class="card-text">{{r.RAM}} GB RAM | {{r.ROM}} GB ROM | Expandable upto 2 TB</h5>
              <h5 class="card-text">11th Generation {{r.processor}} Processor</h5>
              <h5 class="card-text">{{r.warranty}} Year Warranty</h5>
              <h4 class="card-text">Price: {{r.price}} Rs</h4>
            <a href="{% url 'customerlaptopitem' r.pk %}" class="btn btn-success">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
{% endfor %}


<div class="container">

{% if records.has_other_pages %}
  <ul class="pagination">
    {% if records.has_previous %}
      <li><a href="{% relative_url records.previous_page_number 'page' request.GET.urlencode %}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in records.rec_per_page.page_range %}
      {% if records.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if records.has_next %}
      <li><a href="{% relative_url records.next_page_number 'page' request.GET.urlencode %}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
    </div>

{% endblock %}