{% extends 'Customer/Profile_Base.html' %}

{% block InnerContent %}

<h1>Addresses </h1>
{% if record|length == 0 %}
<h1>No Addresses Found Click to Add New </h1>
<a href="{% url 'createaddress' %}"><input type="submit" value="Add Address"></a>
{% else %}
{% for i in record %}
<h3>profile information</h3>
    <h4>Name: {{i.customer.first_name}} {{i.customer.last_name}}</h4>
    <h4>Contact No: {{i.Mobile_no}}</h4>
    <h4>Address: {{i.flat}} {{i.landmark}} {{i.area}} {{i.city}} {{i.state}} {{i.pin_code}}</h4>
    <a href="{% url 'updateaddress' i.id %}">
        <button class="btn btn-primary">Update Address</button>
    </a>
    <a href="{% url 'deleteaddress' i.id %}">
        <button class="btn btn-primary">Delete Address</button>
    </a>
    {% endfor %}
    <a href="{% url 'createaddress' %}">
        <button class="btn btn-success">Create New Address</button>
    </a>
{% endif %}


{% endblock %}