{% extends 'Seller/Seller_Base.html' %}

{% block title %}
    <title>Seller Products</title>
{% endblock %}


{% block content %}
<br>
<h1 style="text-align: center;">Products Added by You</h1>
<hr>
<br><br>

     {% if mobile %}
        <h3 style="text-align: center;">Mobile</h3>
        <div class="container">
        <table class="table table-hover table-dark">
            <tr style="text-align: center;">
                <th> Model Name</th>
                <th> Brand Name</th>
                <th> RAM</th>
                <th> ROM</th>
                <th> Processor</th>
                <th> Warranty (Months)</th>
                <th> Stock</th>
                <th> Price</th>
                <th> Image</th>
            </tr>
            {% for i in mobile %}
                <tr style="text-align: center;">

                    <td>{{i.name}}</td>
                    <td>{{i.brand_name}}</td>
                    <td>{{i.RAM}}</td>
                    <td>{{i.ROM}}</td>
                    <td>{{i.processor}}</td>
                    <td>{{i.warranty}}</td>
                    <td>{{i.stock}}</td>
                    <td>{{i.price}}</td>
                    <td><img src="{{i.image.url}}" style="width: 50%;"></td>
                    <td><a href="{% url 'updatemobile' i.id %}"><button class="btn btn-primary">Edit</button></a></td>
                    <td><a href="{% url 'deletemobile' i.id %}"><button class="btn btn-danger">Remove</button></a></td>
                </tr>
            {% endfor %}
        </table>
        </div>
    {% endif %}

<br>


    {% if laptop %}
        <h3 style="text-align: center;">laptop</h3>
        <div class="container">
        <table class="table table-hover table-dark">
            <tr style="text-align: center;">
                <th>Model</th>
                <th>Comapny</th>
                <th>RAM</th>
                <th>ROM</th>
                <th>Processor</th>
                <th>OS</th>
                <th>Warranty (Months)</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Image</th>

            </tr>
            {% for i in laptop %}
                <tr style="text-align: center;">
                    <td>{{i.name}}</td>
                    <td>{{i.brand_name}}</td>
                    <td>{{i.RAM}}</td>
                    <td>{{i.ROM}}</td>
                    <td>{{i.processor}}</td>
                    <td>{{i.OS}}</td>
                    <td>{{i.warranty}}</td>
                    <td>{{i.stock}}</td>
                    <td>{{i.price}}</td>
                    <td><img src="{{i.image.url}}" height="70" width="130" </td>
                    <td><a href="{% url 'updatelaptop' i.id %}"><button class="btn btn-primary">Edit</button></a></td>
                    <td><a href="{% url 'deletelaptop' i.id %}"><button class="btn btn-danger">Remove</button></a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

            <br>

    {% if grocery %}
        <h3 style="text-align: center;">Grocery</h3>
            <div class="container">
        <table class="table table-hover table-dark">
            <tr style="text-align: center;">
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Validity (Months)</th>
                <th>Price</th>
                <th>Image</th>

            </tr>
            {% for i in grocery %}
                <tr style="text-align: center;">
                    <td>{{i.product_name}}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{i.warranty}}</td>
                    <td>{{i.price}}</td>
                    <td><img src="{{i.image.url}}" height="70" width="130" </td>
                    <td><a href="{% url 'updategrocery' i.id %}"><button class="btn btn-warning">Edit</button></a></td>
                    <td><a href="{% url 'deletegrocery' i.id %}"><button class="btn btn-danger">Remove</button></a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}