{% extends 'Accounts/Base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Mobile</title>
{% endblock %}


{% block content %}
<h1>Mobile in stock</h1>
<br><br>
<div class="container">
    <table class="table table-hover table-dark">
        <tr>
            <th>Model</th>
            <th>Comapny</th>
            <th>RAM</th>
            <th>ROM</th>
            <th>Processor</th>
            <th>Warranty</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        {% for i in object_list %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.brand_name}}</td>
                <td>{{i.RAM}}</td>
                <td>{{i.ROM}}</td>
                <td>{{i.processor}}</td>
                <td>{{i.warranty}}</td>
                <td>{{i.stock}}</td>
                <td>{{i.price}}</td>
                <td><img src="{{i.image.url}}" height="70" width="90" </td>

                <td>
                    <a href="{% url 'mupdate' i.id %}">
                    <button class="btn btn-primary">Update</button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'mdelete' i.id %}">
                    <button class="btn btn-danger">Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}