{% extends 'Seller/Seller_Base.html' %}
{% load static %}

{% block title %}
    <title>Seller Login</title>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'shops_app/Login.css' %}">

<!--    <div class="container">-->
<!--    <h3 style="text-align:center">Seller Login</h3>-->
<!--    <form method="POST" class="jumbotron" style="text-align:center">-->
<!--        {% csrf_token %}-->
<!--        <input type="number" name="mobile" placeholder="Enter Mobile No.">-->
<!--        <br><br>-->
<!--        <input type="password" name="password" placeholder="Enter Password">-->
<!--        <br><br>-->
<!--        {% if messages %}-->
<!--            {% for i in messages %}-->
<!--                {{i}}-->
<!--            {% endfor %}-->
<!--        {% endif %}-->
<!--        <button type="submit">Login</button>-->
<!--        <a class='btn btn-info' href="{% url 'sellerregister' %}">New Register</a>-->

<!--    </form>-->
<!--    </div>-->

<br><br><br>

<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<form method="POST">
				{% csrf_token %}
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Mobile No</label>
					<input id="user" name="mobile" type="number" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" name="password" class="input" data-type="password">
				</div>
				<br>
				<br>
				{% if messages %}
                	{% for i in messages %}
                    	{{i}}
                	{% endfor %}
            	{% endif %}
				<div class="group">
					<input type="submit" class="button" value="Sign In">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="">Forgot Password?</a>
				</div>
				<br>
				<div class="foot-lnk">
					Dont have Account?
					<a href="{% url 'sellerregister' %}" style="color:white">Create New</a>
				</div>
			</div>
<!--			<div class="sign-up-htm">-->
<!--				<div class="group">-->
<!--					<label for="user" class="label">Username</label>-->
<!--					<input id="user" type="text" class="input">-->
<!--				</div>-->
<!--				<div class="group">-->
<!--					<label for="pass" class="label">Password</label>-->
<!--					<input id="pass" type="password" class="input" data-type="password">-->
<!--				</div>-->
<!--				<div class="group">-->
<!--					<label for="pass" class="label">Repeat Password</label>-->
<!--					<input id="pass" type="password" class="input" data-type="password">-->
<!--				</div>-->
<!--				<div class="group">-->
<!--					<label for="pass" class="label">Email Address</label>-->
<!--					<input id="pass" type="text" class="input">-->
<!--				</div>-->
<!--				<div class="group">-->
<!--					<input type="submit" class="button" value="Sign Up">-->
<!--				</div>-->
<!--				<div class="hr"></div>-->
<!--				<div class="foot-lnk">-->
<!--					<label for="tab-1">Already Member?</a>-->
<!--				</div>-->
<!--			</div>-->
				</form>
		</div>
	</div>
</div>
{% endblock content %}